In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime

# loading csv data to pandas DataFrame

In [ ]:
df = pd.read_csv("patients.csv")
med = pd.read_csv("medications.csv")
# all = pd.read_csv("allergies.csv")
pro = pd.read_csv("procedures.csv")
en = pd.read_csv("encounters.csv")

In [ ]:
en = en.groupby('PATIENT').sum(['BASE_ENCOUNTER_COST'])

In [ ]:
pro = pro.groupby('PATIENT').sum(['BASE_COST'])

In [ ]:
df = df.drop(['ZIP','LON', 'LAT','DRIVERS','PASSPORT','ADDRESS','BIRTHPLACE', 'SUFFIX'], axis=1)

In [ ]:
df.BIRTHDATE.dtype

dtype('O')

In [ ]:
# from datetime import datetime, date
import datetime
def from_dob_to_age(dob):
    if(pd.notnull(dob)):
      today = datetime.date.today()
      dob = datetime.datetime.strptime(dob, '%Y-%m-%d')
      return today.year - dob.year - ((today.month, dob.day) < (dob.month, dob.day))
    else:
      return 0
    # return today.year - dob.year

In [ ]:
df['AGE'] = df['BIRTHDATE'].apply(lambda x: from_dob_to_age(x))

In [ ]:
df['DEATHAGE'] = df['DEATHDATE'].apply(lambda x: from_dob_to_age(x))

In [ ]:
df['AGE']  = df['AGE'] - df['DEATHAGE']

In [ ]:
df = df.drop(['DEATHAGE'],axis=1)
df.insert(18,'P_VALUE',0.0)
df.head()

,Id,BIRTHDATE,DEATHDATE,SSN,PREFIX,FIRST,LAST,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,CITY,STATE,COUNTY,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,AGE,P_VALUE
0,1d604da9-9a81-4ba9-80c2-de3375d59b40,1989-05-25,NaN,999-76-6866,Mr.,José Eduardo181,Gómez206,NaN,M,white,hispanic,M,Chicopee,Massachusetts,Hampden County,271227.08,1334.88,32,0.0
1,034e9e3b-2def-4559-bb2a-7850888ae060,1983-11-14,NaN,999-73-5361,Mr.,Milo271,Feil794,NaN,M,white,nonhispanic,M,Somerville,Massachusetts,Middlesex County,793946.01,3204.49,38,0.0
2,10339b10-3cd1-4ac3-ac13-ec26728cb592,1992-06-02,NaN,999-27-3385,Mr.,Jayson808,Fadel536,NaN,M,white,nonhispanic,M,Chicopee,Massachusetts,Hampden County,574111.90,2606.40,29,0.0
3,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,1978-05-27,NaN,999-85-4926,Mrs.,Mariana775,Rutherford999,Williamson769,M,white,nonhispanic,F,Lowell,Massachusetts,Middlesex County,935630.30,8756.19,43,0.0
4,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,1996-10-18,NaN,999-60-7372,Mr.,Gregorio366,Auer97,NaN,NaN,white,nonhispanic,M,Boston,Massachusetts,Suffolk County,598763.07,3772.20,25,0.0

In [ ]:
df = df.drop('BIRTHDATE', 1)
df.head()

,Id,DEATHDATE,SSN,PREFIX,FIRST,LAST,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,CITY,STATE,COUNTY,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,AGE,P_VALUE
0,1d604da9-9a81-4ba9-80c2-de3375d59b40,NaN,999-76-6866,Mr.,José Eduardo181,Gómez206,NaN,M,white,hispanic,M,Chicopee,Massachusetts,Hampden County,271227.08,1334.88,32,0.0
1,034e9e3b-2def-4559-bb2a-7850888ae060,NaN,999-73-5361,Mr.,Milo271,Feil794,NaN,M,white,nonhispanic,M,Somerville,Massachusetts,Middlesex County,793946.01,3204.49,38,0.0
2,10339b10-3cd1-4ac3-ac13-ec26728cb592,NaN,999-27-3385,Mr.,Jayson808,Fadel536,NaN,M,white,nonhispanic,M,Chicopee,Massachusetts,Hampden County,574111.90,2606.40,29,0.0
3,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,NaN,999-85-4926,Mrs.,Mariana775,Rutherford999,Williamson769,M,white,nonhispanic,F,Lowell,Massachusetts,Middlesex County,935630.30,8756.19,43,0.0
4,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,NaN,999-60-7372,Mr.,Gregorio366,Auer97,NaN,NaN,white,nonhispanic,M,Boston,Massachusetts,Suffolk County,598763.07,3772.20,25,0.0

In [ ]:
df = df.drop('DEATHDATE', 1)
df.head()

,Id,SSN,PREFIX,FIRST,LAST,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,CITY,STATE,COUNTY,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,AGE,P_VALUE
0,1d604da9-9a81-4ba9-80c2-de3375d59b40,999-76-6866,Mr.,José Eduardo181,Gómez206,NaN,M,white,hispanic,M,Chicopee,Massachusetts,Hampden County,271227.08,1334.88,32,0.0
1,034e9e3b-2def-4559-bb2a-7850888ae060,999-73-5361,Mr.,Milo271,Feil794,NaN,M,white,nonhispanic,M,Somerville,Massachusetts,Middlesex County,793946.01,3204.49,38,0.0
2,10339b10-3cd1-4ac3-ac13-ec26728cb592,999-27-3385,Mr.,Jayson808,Fadel536,NaN,M,white,nonhispanic,M,Chicopee,Massachusetts,Hampden County,574111.90,2606.40,29,0.0
3,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,999-85-4926,Mrs.,Mariana775,Rutherford999,Williamson769,M,white,nonhispanic,F,Lowell,Massachusetts,Middlesex County,935630.30,8756.19,43,0.0
4,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,999-60-7372,Mr.,Gregorio366,Auer97,NaN,NaN,white,nonhispanic,M,Boston,Massachusetts,Suffolk County,598763.07,3772.20,25,0.0

In [ ]:
# using .merge() function
r1 = pd.merge(med, df, left_on='PATIENT', right_on='Id')
r1
#rename
r1.rename(columns = {'START':'MED_START'}, inplace = True)
r1.rename(columns = {'STOP':'MED_STOP'}, inplace = True)
r1.rename(columns = {'Id':'P_ID'}, inplace = True)
r1.rename(columns = {'BASE_COST':'P_BASE_COST'}, inplace = True)

In [ ]:
r1.rename(columns = {'CODE':'P_CODE'}, inplace = True)

In [ ]:
r1.rename(columns = {'PAYER_COVERAGE':'P_PAYER_COVERAGE'}, inplace = True)
r1.rename(columns = {'REASONCODE':'P_REASONCODE'}, inplace = True)

In [ ]:
r1.head()

,MED_START,MED_STOP,PATIENT,PAYER,ENCOUNTER,P_CODE,DESCRIPTION,P_BASE_COST,P_PAYER_COVERAGE,DISPENSES,...,RACE,ETHNICITY,GENDER,CITY,STATE,COUNTY,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,AGE,P_VALUE
0,2010-05-05T00:26:23Z,2011-04-30T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,1e0d6b0e-1711-4a25-99f9-b1c700c9b260,389221,Etonogestrel 68 MG Drug Implant,677.08,0.0,12,...,white,nonhispanic,F,Lowell,Massachusetts,Middlesex County,935630.3,8756.19,43,0.0
1,2011-04-30T00:26:23Z,2012-04-24T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,6aa37300-d1b4-48e7-a2f8-5e0f70f48f38,389221,Etonogestrel 68 MG Drug Implant,624.09,0.0,12,...,white,nonhispanic,F,Lowell,Massachusetts,Middlesex County,935630.3,8756.19,43,0.0
2,2012-04-24T00:26:23Z,2013-04-19T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,7253a9f9-6f6d-429a-926a-7b1d424eae3f,748856,Yaz 28 Day Pack,43.32,0.0,12,...,white,nonhispanic,F,Lowell,Massachusetts,Middlesex County,935630.3,8756.19,43,0.0
3,2014-04-23T00:26:23Z,2015-04-18T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,9cd4cb2c-458b-401c-836d-d600e7b480c3,389221,Etonogestrel 68 MG Drug Implant,624.08,0.0,12,...,white,nonhispanic,F,Lowell,Massachusetts,Middlesex County,935630.3,8756.19,43,0.0
4,2017-04-07T00:26:23Z,2018-04-02T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,c60f2369-c096-441f-bf6c-00248e23cfd2,1534809,168 HR Ethinyl Estradiol 0.00146 MG/HR / norel...,39.20,0.0,12,...,white,nonhispanic,F,Lowell,Massachusetts,Middlesex County,935630.3,8756.19,43,0.0

merging r1 and encounter

In [ ]:
r2 = pd.merge(r1, en, on='PATIENT')
r2.head()
r2.rename(columns = {'Id':'En_Id'}, inplace = True)
r2.rename(columns = {'BASE_COST':'En_BASE_COST'}, inplace = True)
r2.rename(columns = {'CODE':'En_CODE'}, inplace = True)
r2.rename(columns = {'PAYER_COVERAGE':'En_PAYER_COVERAGE'}, inplace = True)
r2.rename(columns = {'REASONCODE':'En_REASONCODE'}, inplace = True)
r2.head()

,MED_START,MED_STOP,PATIENT,PAYER,ENCOUNTER,P_CODE,DESCRIPTION,P_BASE_COST,P_PAYER_COVERAGE,DISPENSES,...,COUNTY,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,AGE,P_VALUE,En_CODE,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,En_PAYER_COVERAGE,En_REASONCODE
0,2010-05-05T00:26:23Z,2011-04-30T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,1e0d6b0e-1711-4a25-99f9-b1c700c9b260,389221,Etonogestrel 68 MG Drug Implant,677.08,0.0,12,...,Middlesex County,935630.3,8756.19,43,0.0,7555571059,2195.72,2195.72,579.96,684354026.0
1,2011-04-30T00:26:23Z,2012-04-24T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,6aa37300-d1b4-48e7-a2f8-5e0f70f48f38,389221,Etonogestrel 68 MG Drug Implant,624.09,0.0,12,...,Middlesex County,935630.3,8756.19,43,0.0,7555571059,2195.72,2195.72,579.96,684354026.0
2,2012-04-24T00:26:23Z,2013-04-19T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,7253a9f9-6f6d-429a-926a-7b1d424eae3f,748856,Yaz 28 Day Pack,43.32,0.0,12,...,Middlesex County,935630.3,8756.19,43,0.0,7555571059,2195.72,2195.72,579.96,684354026.0
3,2014-04-23T00:26:23Z,2015-04-18T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,9cd4cb2c-458b-401c-836d-d600e7b480c3,389221,Etonogestrel 68 MG Drug Implant,624.08,0.0,12,...,Middlesex County,935630.3,8756.19,43,0.0,7555571059,2195.72,2195.72,579.96,684354026.0
4,2017-04-07T00:26:23Z,2018-04-02T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,c60f2369-c096-441f-bf6c-00248e23cfd2,1534809,168 HR Ethinyl Estradiol 0.00146 MG/HR / norel...,39.20,0.0,12,...,Middlesex County,935630.3,8756.19,43,0.0,7555571059,2195.72,2195.72,579.96,684354026.0

merging r2 and procedures using PATIENT key

In [ ]:
pro.columns

Index(['CODE', 'BASE_COST', 'REASONCODE'], dtype='object')

In [ ]:
pro.rename(columns = {'BASE_COST':'Pro_BASE_COST'}, inplace = True)
pro.columns

Index(['CODE', 'Pro_BASE_COST', 'REASONCODE'], dtype='object')

In [ ]:
# using .merge() function
r3 = pd.merge(r2, pro, on='PATIENT')                                                                                                         
r3

,MED_START,MED_STOP,PATIENT,PAYER,ENCOUNTER,P_CODE,DESCRIPTION,P_BASE_COST,P_PAYER_COVERAGE,DISPENSES,...,AGE,P_VALUE,En_CODE,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,En_PAYER_COVERAGE,En_REASONCODE,CODE,Pro_BASE_COST,REASONCODE
0,2010-05-05T00:26:23Z,2011-04-30T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,1e0d6b0e-1711-4a25-99f9-b1c700c9b260,389221,Etonogestrel 68 MG Drug Implant,677.08,0.0,12,...,43,0.0,7555571059,2195.72,2195.72,579.96,6.843540e+08,1853820032,86631.60,0.0
1,2011-04-30T00:26:23Z,2012-04-24T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,6aa37300-d1b4-48e7-a2f8-5e0f70f48f38,389221,Etonogestrel 68 MG Drug Implant,624.09,0.0,12,...,43,0.0,7555571059,2195.72,2195.72,579.96,6.843540e+08,1853820032,86631.60,0.0
2,2012-04-24T00:26:23Z,2013-04-19T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,7253a9f9-6f6d-429a-926a-7b1d424eae3f,748856,Yaz 28 Day Pack,43.32,0.0,12,...,43,0.0,7555571059,2195.72,2195.72,579.96,6.843540e+08,1853820032,86631.60,0.0
3,2014-04-23T00:26:23Z,2015-04-18T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,9cd4cb2c-458b-401c-836d-d600e7b480c3,389221,Etonogestrel 68 MG Drug Implant,624.08,0.0,12,...,43,0.0,7555571059,2195.72,2195.72,579.96,6.843540e+08,1853820032,86631.60,0.0
4,2017-04-07T00:26:23Z,2018-04-02T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,c60f2369-c096-441f-bf6c-00248e23cfd2,1534809,168 HR Ethinyl Estradiol 0.00146 MG/HR / norel...,39.20,0.0,12,...,43,0.0,7555571059,2195.72,2195.72,579.96,6.843540e+08,1853820032,86631.60,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42981,1983-09-08T17:27:52Z,1983-09-29T17:27:52Z,fca3178e-fb68-41c3-8598-702d3ca68b96,7caa7254-5050-3b5e-9eae-bd5ea30e809c,9e9670e5-da7f-4111-98a6-21d5e0aadd86,243670,Aspirin 81 MG Oral Tablet,7.35,0.0,1,...,76,0.0,5404286053,3874.80,3874.80,2415.64,1.259937e+09,5488465092,99516.49,987584022.0
42982,1984-09-23T17:27:52Z,1984-11-22T17:27:52Z,fca3178e-fb68-41c3-8598-702d3ca68b96,7caa7254-5050-3b5e-9eae-bd5ea30e809c,8d7d70be-467d-430f-8497-25aa2c1276b8,313782,Acetaminophen 325 MG Oral Tablet,5.26,0.0,2,...,76,0.0,5404286053,3874.80,3874.80,2415.64,1.259937e+09,5488465092,99516.49,987584022.0
42983,1987-09-27T17:27:52Z,NaN,fca3178e-fb68-41c3-8598-702d3ca68b96,7caa7254-5050-3b5e-9eae-bd5ea30e809c,48ea35a8-37cd-41d2-86c1-7785b514c453,866414,24 HR metoprolol succinate 100 MG Extended Rel...,263.49,0.0,30,...,76,0.0,5404286053,3874.80,3874.80,2415.64,1.259937e+09,5488465092,99516.49,987584022.0
42984,1987-09-27T17:27:52Z,NaN,fca3178e-fb68-41c3-8598-702d3ca68b96,7caa7254-5050-3b5e-9eae-bd5ea30e809c,48ea35a8-37cd-41d2-86c1-7785b514c453,313988,Furosemide 40 MG Oral Tablet,263.49,0.0,30,...,76,0.0,5404286053,3874.80,3874.80,2415.64,1.259937e+09,5488465092,99516.49,987584022.0
42985,1990-03-15T17:27:52Z,NaN,fca3178e-fb68-41c3-8598-702d3ca68b96,7caa7254-5050-3b5e-9eae-bd5ea30e809c,aaee3543-3edb-40af-a276-3bb027cac0dc,1719286,10 ML Furosemide 10 MG/ML Injection,263.49,0.0,1,...,76,0.0,5404286053,3874.80,3874.80,2415.64,1.259937e+09,5488465092,99516.49,987584022.0

### Calculating & Appending Duration of Medications

In [ ]:
def duration(date):
    date = date[:-10] 
    if(len(date)>9):
      date = datetime.datetime.strptime(date, '%Y-%m-%d')
      start_date = datetime.date(date.year, date.month, date.day)
      end_date = datetime.date.today()
      time_difference = end_date - start_date
      age = time_difference.days
      return age
    else:
      return 0

In [ ]:
r3['DURATION_1'] = r3['MED_START'].apply(lambda x:duration(x))
r3['DURATION_2'] = r3['MED_STOP'].apply(lambda x:duration(str(x)))
r3['DURATION'] = r3['DURATION_1']-r3['DURATION_2']
r3 = r3.drop(['DURATION_1','DURATION_2'],axis=1)
r3.head()

,MED_START,MED_STOP,PATIENT,PAYER,ENCOUNTER,P_CODE,DESCRIPTION,P_BASE_COST,P_PAYER_COVERAGE,DISPENSES,...,P_VALUE,En_CODE,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,En_PAYER_COVERAGE,En_REASONCODE,CODE,Pro_BASE_COST,REASONCODE,DURATION
0,2010-05-05T00:26:23Z,2011-04-30T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,1e0d6b0e-1711-4a25-99f9-b1c700c9b260,389221,Etonogestrel 68 MG Drug Implant,677.08,0.0,12,...,0.0,7555571059,2195.72,2195.72,579.96,684354026.0,1853820032,86631.6,0.0,360
1,2011-04-30T00:26:23Z,2012-04-24T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,6aa37300-d1b4-48e7-a2f8-5e0f70f48f38,389221,Etonogestrel 68 MG Drug Implant,624.09,0.0,12,...,0.0,7555571059,2195.72,2195.72,579.96,684354026.0,1853820032,86631.6,0.0,360
2,2012-04-24T00:26:23Z,2013-04-19T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,7253a9f9-6f6d-429a-926a-7b1d424eae3f,748856,Yaz 28 Day Pack,43.32,0.0,12,...,0.0,7555571059,2195.72,2195.72,579.96,684354026.0,1853820032,86631.6,0.0,360
3,2014-04-23T00:26:23Z,2015-04-18T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,9cd4cb2c-458b-401c-836d-d600e7b480c3,389221,Etonogestrel 68 MG Drug Implant,624.08,0.0,12,...,0.0,7555571059,2195.72,2195.72,579.96,684354026.0,1853820032,86631.6,0.0,360
4,2017-04-07T00:26:23Z,2018-04-02T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,c60f2369-c096-441f-bf6c-00248e23cfd2,1534809,168 HR Ethinyl Estradiol 0.00146 MG/HR / norel...,39.20,0.0,12,...,0.0,7555571059,2195.72,2195.72,579.96,684354026.0,1853820032,86631.6,0.0,360

In [ ]:
r = r3.groupby('P_ID').sum(['TOTAL_COST','DURATION'])
r.head()

,P_CODE,P_BASE_COST,P_PAYER_COVERAGE,DISPENSES,TOTALCOST,P_REASONCODE,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,AGE,P_VALUE,En_CODE,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,En_PAYER_COVERAGE,En_REASONCODE,CODE,Pro_BASE_COST,REASONCODE,DURATION
P_ID,,,,,,,,,,,,,,,,,,,
00185faa-2760-4218-9bf5-db301acf8274,14804234.0,7729.98,6959.5,11.0,7729.98,43878008.0,3969361.55,108496.96,198.0,0.0,6.942551e+10,25573.02,25573.02,15673.02,2.731776e+15,3.184292e+10,416002.73,2.152282e+09,263.0
0042862c-9889-4a2e-b782-fac1e540ecb4,935784.0,26.16,0.0,3.0,26.16,10509002.0,60018.24,3722.28,36.0,0.0,2.404268e+10,8137.08,8137.08,2559.84,1.401588e+09,8.515842e+09,29100.75,1.205499e+09,42.0
0047123f-12e7-486c-82df-53b3a450e365,1605651.0,63.82,0.0,2.0,63.82,455323011.0,371430.72,14217.54,122.0,0.0,8.093468e+09,5321.38,5321.38,3586.42,2.987502e+09,3.576316e+09,117087.94,1.698180e+08,35.0
010d4a3a-2316-45ed-ae15-16f01c611674,1243192.0,1053.96,0.0,44.0,11593.56,238484000.0,2018908.40,13385.60,92.0,0.0,1.550403e+10,6716.32,6716.32,5876.32,1.565296e+09,3.441544e+09,4884.04,0.000000e+00,1942.0
0149d553-f571-4e99-867e-fcb9625d07c2,5836272.0,2924.07,0.0,73.0,34137.05,444814009.0,7290619.36,53707.84,336.0,0.0,1.144415e+11,39264.64,39264.64,15305.28,1.948861e+10,9.949045e+10,2459751.76,2.973994e+10,2765.0

In [ ]:
len(r)

1105

In [ ]:
# len(rx)

1105

In [ ]:
# rx = r3.groupby('P_ID').sum(['TOTAL_COST'])
# rx.head()

,P_CODE,P_BASE_COST,P_PAYER_COVERAGE,DISPENSES,TOTALCOST,P_REASONCODE,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,AGE,P_VALUE,En_CODE,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,En_PAYER_COVERAGE,En_REASONCODE,CODE,Pro_BASE_COST,REASONCODE,DURATION
P_ID,,,,,,,,,,,,,,,,,,,
00185faa-2760-4218-9bf5-db301acf8274,14804234.0,7729.98,6959.5,11.0,7729.98,43878008.0,3969361.55,108496.96,198.0,0.0,6.942551e+10,25573.02,25573.02,15673.02,2.731776e+15,3.184292e+10,416002.73,2.152282e+09,263.0
0042862c-9889-4a2e-b782-fac1e540ecb4,935784.0,26.16,0.0,3.0,26.16,10509002.0,60018.24,3722.28,36.0,0.0,2.404268e+10,8137.08,8137.08,2559.84,1.401588e+09,8.515842e+09,29100.75,1.205499e+09,42.0
0047123f-12e7-486c-82df-53b3a450e365,1605651.0,63.82,0.0,2.0,63.82,455323011.0,371430.72,14217.54,122.0,0.0,8.093468e+09,5321.38,5321.38,3586.42,2.987502e+09,3.576316e+09,117087.94,1.698180e+08,35.0
010d4a3a-2316-45ed-ae15-16f01c611674,1243192.0,1053.96,0.0,44.0,11593.56,238484000.0,2018908.40,13385.60,92.0,0.0,1.550403e+10,6716.32,6716.32,5876.32,1.565296e+09,3.441544e+09,4884.04,0.000000e+00,1942.0
0149d553-f571-4e99-867e-fcb9625d07c2,5836272.0,2924.07,0.0,73.0,34137.05,444814009.0,7290619.36,53707.84,336.0,0.0,1.144415e+11,39264.64,39264.64,15305.28,1.948861e+10,9.949045e+10,2459751.76,2.973994e+10,2765.0

In [ ]:
r.columns

Index(['P_CODE', 'P_BASE_COST', 'P_PAYER_COVERAGE', 'DISPENSES', 'TOTALCOST',
       'P_REASONCODE', 'HEALTHCARE_EXPENSES', 'HEALTHCARE_COVERAGE', 'AGE',
       'P_VALUE', 'En_CODE', 'BASE_ENCOUNTER_COST', 'TOTAL_CLAIM_COST',
       'En_PAYER_COVERAGE', 'En_REASONCODE', 'CODE', 'Pro_BASE_COST',
       'REASONCODE', 'DURATION'],
      dtype='object')

In [ ]:
r['COST_SPENT'] = r['HEALTHCARE_EXPENSES'] + r['HEALTHCARE_COVERAGE']
r.head()

,P_CODE,P_BASE_COST,P_PAYER_COVERAGE,DISPENSES,TOTALCOST,P_REASONCODE,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,AGE,P_VALUE,En_CODE,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,En_PAYER_COVERAGE,En_REASONCODE,CODE,Pro_BASE_COST,REASONCODE,DURATION,COST_SPENT
P_ID,,,,,,,,,,,,,,,,,,,,
00185faa-2760-4218-9bf5-db301acf8274,14804234.0,7729.98,6959.5,11.0,7729.98,43878008.0,3969361.55,108496.96,198.0,0.0,6.942551e+10,25573.02,25573.02,15673.02,2.731776e+15,3.184292e+10,416002.73,2.152282e+09,263.0,4077858.51
0042862c-9889-4a2e-b782-fac1e540ecb4,935784.0,26.16,0.0,3.0,26.16,10509002.0,60018.24,3722.28,36.0,0.0,2.404268e+10,8137.08,8137.08,2559.84,1.401588e+09,8.515842e+09,29100.75,1.205499e+09,42.0,63740.52
0047123f-12e7-486c-82df-53b3a450e365,1605651.0,63.82,0.0,2.0,63.82,455323011.0,371430.72,14217.54,122.0,0.0,8.093468e+09,5321.38,5321.38,3586.42,2.987502e+09,3.576316e+09,117087.94,1.698180e+08,35.0,385648.26
010d4a3a-2316-45ed-ae15-16f01c611674,1243192.0,1053.96,0.0,44.0,11593.56,238484000.0,2018908.40,13385.60,92.0,0.0,1.550403e+10,6716.32,6716.32,5876.32,1.565296e+09,3.441544e+09,4884.04,0.000000e+00,1942.0,2032294.00
0149d553-f571-4e99-867e-fcb9625d07c2,5836272.0,2924.07,0.0,73.0,34137.05,444814009.0,7290619.36,53707.84,336.0,0.0,1.144415e+11,39264.64,39264.64,15305.28,1.948861e+10,9.949045e+10,2459751.76,2.973994e+10,2765.0,7344327.20

In [ ]:
r = r.drop(['REASONCODE','HEALTHCARE_EXPENSES', 'HEALTHCARE_COVERAGE'], axis=1)

In [ ]:
r = r.drop(['En_REASONCODE'], axis=1)

In [ ]:
r.head()

,P_CODE,P_BASE_COST,P_PAYER_COVERAGE,DISPENSES,TOTALCOST,P_REASONCODE,AGE,P_VALUE,En_CODE,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,En_PAYER_COVERAGE,CODE,Pro_BASE_COST,DURATION,COST_SPENT
P_ID,,,,,,,,,,,,,,,,
00185faa-2760-4218-9bf5-db301acf8274,14804234.0,7729.98,6959.5,11.0,7729.98,43878008.0,198.0,0.0,6.942551e+10,25573.02,25573.02,15673.02,3.184292e+10,416002.73,263.0,4077858.51
0042862c-9889-4a2e-b782-fac1e540ecb4,935784.0,26.16,0.0,3.0,26.16,10509002.0,36.0,0.0,2.404268e+10,8137.08,8137.08,2559.84,8.515842e+09,29100.75,42.0,63740.52
0047123f-12e7-486c-82df-53b3a450e365,1605651.0,63.82,0.0,2.0,63.82,455323011.0,122.0,0.0,8.093468e+09,5321.38,5321.38,3586.42,3.576316e+09,117087.94,35.0,385648.26
010d4a3a-2316-45ed-ae15-16f01c611674,1243192.0,1053.96,0.0,44.0,11593.56,238484000.0,92.0,0.0,1.550403e+10,6716.32,6716.32,5876.32,3.441544e+09,4884.04,1942.0,2032294.00
0149d553-f571-4e99-867e-fcb9625d07c2,5836272.0,2924.07,0.0,73.0,34137.05,444814009.0,336.0,0.0,1.144415e+11,39264.64,39264.64,15305.28,9.949045e+10,2459751.76,2765.0,7344327.20

In [ ]:
r.columns

Index(['P_CODE', 'P_BASE_COST', 'P_PAYER_COVERAGE', 'DISPENSES', 'TOTALCOST',
       'P_REASONCODE', 'AGE', 'P_VALUE', 'En_CODE', 'BASE_ENCOUNTER_COST',
       'TOTAL_CLAIM_COST', 'En_PAYER_COVERAGE', 'CODE', 'Pro_BASE_COST',
       'DURATION', 'COST_SPENT'],
      dtype='object')

In [ ]:
r['COST_SPENT'] = r['COST_SPENT'] - r['BASE_ENCOUNTER_COST'] -r['Pro_BASE_COST']
r.head()

,P_CODE,P_BASE_COST,P_PAYER_COVERAGE,DISPENSES,TOTALCOST,P_REASONCODE,AGE,P_VALUE,En_CODE,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,En_PAYER_COVERAGE,CODE,Pro_BASE_COST,DURATION,COST_SPENT
P_ID,,,,,,,,,,,,,,,,
00185faa-2760-4218-9bf5-db301acf8274,14804234.0,7729.98,6959.5,11.0,7729.98,43878008.0,198.0,0.0,6.942551e+10,25573.02,25573.02,15673.02,3.184292e+10,416002.73,263.0,3636282.76
0042862c-9889-4a2e-b782-fac1e540ecb4,935784.0,26.16,0.0,3.0,26.16,10509002.0,36.0,0.0,2.404268e+10,8137.08,8137.08,2559.84,8.515842e+09,29100.75,42.0,26502.69
0047123f-12e7-486c-82df-53b3a450e365,1605651.0,63.82,0.0,2.0,63.82,455323011.0,122.0,0.0,8.093468e+09,5321.38,5321.38,3586.42,3.576316e+09,117087.94,35.0,263238.94
010d4a3a-2316-45ed-ae15-16f01c611674,1243192.0,1053.96,0.0,44.0,11593.56,238484000.0,92.0,0.0,1.550403e+10,6716.32,6716.32,5876.32,3.441544e+09,4884.04,1942.0,2020693.64
0149d553-f571-4e99-867e-fcb9625d07c2,5836272.0,2924.07,0.0,73.0,34137.05,444814009.0,336.0,0.0,1.144415e+11,39264.64,39264.64,15305.28,9.949045e+10,2459751.76,2765.0,4845310.80

In [ ]:
r['COST_SPENT'] = r['COST_SPENT']/r['DURATION']
r.head()

,P_CODE,P_BASE_COST,P_PAYER_COVERAGE,DISPENSES,TOTALCOST,P_REASONCODE,AGE,P_VALUE,En_CODE,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,En_PAYER_COVERAGE,CODE,Pro_BASE_COST,DURATION,COST_SPENT
P_ID,,,,,,,,,,,,,,,,
00185faa-2760-4218-9bf5-db301acf8274,14804234.0,7729.98,6959.5,11.0,7729.98,43878008.0,198.0,0.0,6.942551e+10,25573.02,25573.02,15673.02,3.184292e+10,416002.73,263.0,13826.170190
0042862c-9889-4a2e-b782-fac1e540ecb4,935784.0,26.16,0.0,3.0,26.16,10509002.0,36.0,0.0,2.404268e+10,8137.08,8137.08,2559.84,8.515842e+09,29100.75,42.0,631.016429
0047123f-12e7-486c-82df-53b3a450e365,1605651.0,63.82,0.0,2.0,63.82,455323011.0,122.0,0.0,8.093468e+09,5321.38,5321.38,3586.42,3.576316e+09,117087.94,35.0,7521.112571
010d4a3a-2316-45ed-ae15-16f01c611674,1243192.0,1053.96,0.0,44.0,11593.56,238484000.0,92.0,0.0,1.550403e+10,6716.32,6716.32,5876.32,3.441544e+09,4884.04,1942.0,1040.521957
0149d553-f571-4e99-867e-fcb9625d07c2,5836272.0,2924.07,0.0,73.0,34137.05,444814009.0,336.0,0.0,1.144415e+11,39264.64,39264.64,15305.28,9.949045e+10,2459751.76,2765.0,1752.372803

In [ ]:
def knn(X,Y,query,k=5):
    val = []
    m = X.shape[0]
    
    for i in range(m):
        d = dis(query , X[i])
        val.append((d,Y[i]))
    val=sorted(val)
    val=val[:k]
    val=np.array(val)
    print(val)
    
    new_val = np.unique(val[:,1],return_counts=True)
    print(new_val)
    
    max_freq_index = new_val[1].argmax()
    pred = new_val[0][max_freq_index]
    
    return pred